/*navbar*/
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
  background-color: rgb(231, 231, 231);
  color: rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-link,
.sign-link-google {
  color: white;
}

.nav-link:hover,
.sign-link-google:hover {
  color: white;
}

.login-app,
.logout-app {
  display: flex;
  justify-content: space-around;
  width: 15%;
}

.sign-link-google {
  text-decoration: none !important;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}
